
@page "/favorites"

<h1>Favorites</h1>
<div class="row">
    <h3 style="width: 15rem">Order by:</h3>
    <select class="form-select" aria-label="Default select example" style="width: 15rem" @onchange="ChangeContent">
        <option selected value="">Choose an option</option>
        <option value="alphabetically">Alphabetically</option>
        <option value="popularity">Popularity</option>
        <option value="classification">Classification</option>
    </select>
</div>
<div class="cards">
@if (movies != null)
{
    @foreach (Movie movie in movies)
    {
            <MovieScout.Pages.Components.MovieCard movie=movie></MovieScout.Pages.Components.MovieCard>
    }
}
</div>

