
@page "/"
@using MovieScoutShared;

<PageTitle>Index</PageTitle>

<div class="row">
    <h1 style="width: 20rem">Trending this</h1>
    <select class="form-select" aria-label="Default select example" style="width: 10rem" @onchange="ChangeContentAsync">
        <option selected value="day">Day</option>
        <option value="week">Week</option>
    </select>
</div>
<div class="row">
@if (Movies != null)
{
    @foreach (Movie movie in Movies)
    {
        <MovieCard movie=movie></MovieCard>
    }
}
</div>
