@page "/search"
@using MovieScoutShared;

<h1>Search</h1>

<div class="row">
    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" style="width: 40rem" class="form-control" @bind="searchValue"/>
        </div>
        <button type="button" class="btn btn-primary" @onclick="() => SearchContentAsync()">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>

<div class="row">
    @if (movies != null)
    {
        @foreach (Movie movie in movies)
        {
            <MovieCard movie=movie></MovieCard>
        }
    }
</div>

@if(resultsPage != null){
    <nav>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" @onclick="() => ChangePagePrevious()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                <li class="page-item active"><a class="page-link">@currentPage</a></li>
            <li class="page-item"><a class="page-link" @onclick="() => ChangePageNext()"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            <li class="page-item" type="hidden"><a class="page-link" @onclick="() => ChangePagePickerVisibility()">Go to</a></li>
        </ul>
    </nav>
    <input type="number" id="typeNumber" class="form-control" min="1" max="@resultsPage.total_pages" style="width:5rem; display: @pagePickerVisibility;" @bind-value="inputPageNumber" onkeypress="@EnterAsync"/>
    <p>Total number of pages: @resultsPage.total_pages</p>
}